#Categoria{
	background-color:whitesmoke;
	width:30%;
	height:300px;
	border-radius:25px 25px 25px 25px;
	border:1px solid;
	padding:15px;
	-webkit-box-shadow: 5px 5px 5px -2px rgba(153,147,153,0.59);
	-moz-box-shadow: 5px 5px 5px -2px rgba(153,147,153,0.59);
	box-shadow: 5px 5px 5px -2px rgba(153,147,153,0.59);
	margin:10px;
}
#Producto{
	background-color:whitesmoke;
	width:30%;
	height:300px;
	border-radius:25px 25px 25px 25px;
	border:1px solid;
	padding:15px;
	-webkit-box-shadow: 5px 5px 5px -2px rgba(153,147,153,0.59);
	-moz-box-shadow: 5px 5px 5px -2px rgba(153,147,153,0.59);
	box-shadow: 5px 5px 5px -2px rgba(153,147,153,0.59);
	margin:10px !important;


}

#centrado{
	text-align:center;
}
#imgCategoria{
	
	display:block;
	margin:auto;
}
.btnBotn{
	display:block !important;
	margin:auto !important;

}
hr{
	border-top: 2px solid black !important;
}