body{
	padding:0px;
	margin:0px;
}
#Encabezado{
	background-color:#B5B567;
	width:100%;
	height:230px;
	display:flex;
}
#TituloTecno{
	color:white;
	font-size:50px;
	float:right;
}
#Contenido{
	height:100%;
	padding:50px;
	display:flex;
	flex-wrap:wrap;

}
#Footer{
	background-color:#B5B567;
	width:100%;
	height:230px;
	clear:both;
	color:white;
	padding:15px;

}

